################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/backend/.vs/LibraryManagement/v17/.suo
/.gitignore
/src/backend/.vs/LibraryManagement/v17/.suo
/.gitignore
